.container {
    display: grid;
    background-color: rgb(236, 167, 167);
    height: 400px;
    width: 600px;
    border: 2px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: 250px 250px 250px 250px; */
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header header header" "main main. sidebar" "footer footer footer footer";
    column-gap: 10px;
     justify-items: center; 
    align-items: center; 
    /* place-items: center; */


}

.item {
     height: 100px;
    width: 100px; 
    background-color: rgb(194, 132, 153);
    border: 1px solid black;
    text-align: center;
    align-content: center;  
    /* //vertical */

}
/* 
.item1{
    grid-area:header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */

.item1{
    /* grid-area:header; */
    grid-column:1/2;
    grid-row:2/3;
 
}


.item2{
    grid-column: 2/2;
    grid-row:2/3;
}