.container{
    display:grid;
    height:500px;
    width:1500px;
    background-color: pink;
    border:1px solid green;
    

    grid-template-columns: repeat (4,1fr);

     
     grid-template-rows: repeat (3 ,1fr);
     grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
     gap:15px 10px;
     justify-items:end;
     align-items: start ;
     
    
     
} 
.item{
    height:490px;
    width:300px;

    background-color:palevioletred;
    border:1px solid yellow;
    
    align-content: center;
    text-align: center;
    
        
}

.item1{
    grid-column: span;
}

