.container{
    display : flex;
    height: 500px;
    width: 700px;
    background-color: rgb(179 ,143 ,177);
    boarder: 5px solid black;
    padding: 0px;
    margin: 0px;
    flex-wrap:wrap;
    flex-direction:column;
    row: gap 20px;
    column gap: 30px;
}